<div class="album text-muted">
    <div class="container">
    <%= link_to "Create New Item", new_portofolio_path if logged_in?(:site_admin) %>
        <div class="row <%= "sortable" if logged_in?(:site_admin) %>" >
            <!-- <a href="portofolios/new">Create New Item</a> -->
            <%= render @portofolio_items %>
        </div>
    </div>
</div>